#beforevote {
    text-align: center;
    font-size: 35px;
    padding: 20px;
}

#showid {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    /* background-color: #ccccee; */
    margin: 8px;
    width: 62%;
    left: 243px;
    position: relative;
}

#Adharnumber {
    position: relative;
    left: 28rem;
    width: 31%;
    height: 3rem;
    border-radius: 21px;
    font-size: 25px;
    text-align: center;
}

#Generateid {
    position: relative;
    left: 27rem;
    width: 32%;
    height: 3rem;
    border-radius: 21px;
    margin: 10px;
    font-size: 25px;
    color: white;
    background-color: #6ad36a;
}

#Generateid:hover {
    cursor: pointer;
    color: black;
    background-color: #9ce29c;
}